head
    title Szablon strony w D3
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='shortcut icon', href='/favicon.ico')

    <!-- bower:js -->
    <!-- endbower -->

    script(src='scripts/vendor.min.js')

    <!-- bower:css -->
    <!-- endbower -->

    link(rel='stylesheet', href='css/main.css')