.panelResetPassword.panel.-hidden
  .panelResetPassword__wrapper
    .panelResetPassword__title Panel Odzyskiwania Hasła
    .panelResetPassword__alert.-info.-hidden
      h3
        i.fa.fa-warning
        | Uwaga!
      | Nie ma takiego konta.
    .panelResetPassword__alert.-success.-hidden
      h3
        i.fa.fa-info
        | Informacja!
      | Na wskazany email został wysłany link weryfikacyjny.
    .panelResetPassword__alert.-success.-hidden
      h3
        i.fa.fa-info
        | Informacja!
      | Nowe hasło zostało ustawione. Możesz się teraz
    .panelResetPassword__alert.-info.-hidden
      h3
        i.fa.fa-warning
        | Informacja!
      | Hasła nie są takie same.
      a(href="#").panelResetPassword__ToLogin zalogować
      | .
    .panelResetPassword__form
      .panelResetPassword__formwrapper
        input(name="user_email" placeholder="E-mail")
        i.fa.fa-envelope-o
        button(type="submit") Odzyskaj hasło
    .panelResetPassword__form
      .panelResetPassword__formwrapper
        input(name="user_password_new" type="password" placeholder="Hasło")
        i.fa.fa-lock
      .panelResetPassword__formwrapper
        input(name="user_password_again_new" type="password" placeholder="Powtórz hasło")
        i.fa.fa-lock
      button(type="submit") Zatwierdz nowe hasło
    span.panelResetPassword__close
      span.panelResetPassword__icon.fa.fa-times
    .panelResetPassword__navigation Nie masz konta?
      a(href="#").panelResetPassword__ToRegister Zarejestruj się.