.panelUsers.panel.-hidden.dragger
  .panelUsers__wrapper
    .panelUsers__title Panel Zarządzania Użytkownikami
    .panelUsers__subtitle Zarządzanie użytkownikami systemu.
    .panelUsers__navigation
      a(href="#").panelUsers__navigation__item#panel-DodajUsersButton Dodaj Użytkownika
    .panelUsers__content
      .panelUsers__content__Title Lista Autobusów
      .panelUsers__content__Filtr
        .panelUsers__content__Filtr__item
          input(placeholder="Szukaj autobusu...")
        .panelUsers__content__Filtr__item
          input(placeholder="Filtr stanów autobusu")
        .panelUsers__content__Filtr__item
          input(placeholder="Typ autobusu")
        .panelUsers__content__Filtr__item
          input(placeholder="Biletomat")
      .panelUsers__contentList

        .panelList
          .panelList__header
            .panelList__headeritemType Typ
            .panelList__headeritemName Numer Autobusu
            .panelList__headeritemStatus Status
            .panelList__headeritemBiletomat Biletomat
            .panelList__headeritemnavigation Szczegóły
          .panelUsers__list.panelList__content
            .panelList__item
              .panelList__itemType
                .fa.fa-bus
              .panelList__itemName 102
              .panelList__itemStatus Aktywny
              .panelList__itemBiletomat
                .fa.fa-times-circle-o
              .panelList__navigation Zobacz
            .panelList__item
              .panelList__itemType
                .fa.fa-bus
              .panelList__itemName 103
              .panelList__itemStatus Aktywny
              .panelList__itemBiletomat
                .fa.fa-times-circle-o
              .panelList__navigation Zobacz
            .panelList__item
              .panelList__itemType
                .fa.fa-bus
              .panelList__itemName 5
              .panelList__itemStatus Aktywny
              .panelList__itemBiletomat
                .fa.fa-times-circle-o
              .panelList__navigation Zobacz
            .panelList__item
              .panelList__itemType
                .fa.fa-bus
              .panelList__itemName 6
              .panelList__itemStatus Aktywny
              .panelList__itemBiletomat
                .fa.fa-times-circle-o
              .panelList__navigation Zobacz
            .panelList__item
              .panelList__itemType
                .fa.fa-bus
              .panelList__itemName 7
              .panelList__itemStatus Aktywny
              .panelList__itemBiletomat
                .fa.fa-times-circle-o
              .panelList__navigation Zobacz
            .panelList__item
              .panelList__itemType
                .fa.fa-bus
              .panelList__itemName 8
              .panelList__itemStatus Aktywny
              .panelList__itemBiletomat
                .fa.fa-times-circle-o
              .panelList__navigation Zobacz
            .panelList__item
              .panelList__itemType
                .fa.fa-bus
              .panelList__itemName 9
              .panelList__itemStatus Aktywny
              .panelList__itemBiletomat
                .fa.fa-times-circle-o
              .panelList__navigation Zobacz
            .panelList__item
              .panelList__itemType
                .fa.fa-bus
              .panelList__itemName 10
              .panelList__itemStatus Aktywny
              .panelList__itemBiletomat
                .fa.fa-times-circle-o
              .panelList__navigation Zobacz
            .panelList__item
              .panelList__itemType
                .fa.fa-bus
              .panelList__itemName 11
              .panelList__itemStatus Aktywny
              .panelList__itemBiletomat
                .fa.fa-times-circle-o
              .panelList__navigation Zobacz
    span.panelUsers__close
      span.panelUsers__icon.fa.fa-times

.panelDodajUsers__dragger
  .panelDodajUsers.panel.-hidden.dragger
    .panelDodajUsers__wrapper
      .panelDodajUsers__title Dodaj Użytkownika
      .panelDodajUsers__subtitle Panel dodawania nowych autobusów.
      .panelDodajUsers__content
        .panelDodajUsers__content__Title Dane Autobusu
        .panelDodajUsers__content__Filtr
          .panelDodajUsers__content__Filtr__item
            input(placeholder="Numer Rejestracyjny")
          .panelDodajUsers__content__Filtr__item
            input(placeholder="Numer VIN")
          .panelDodajUsers__content__Filtr__item
            input(placeholder="Typ autobusu")
          .panelDodajUsers__content__Filtr__item
            input(placeholder="Biletomat")
      .panelDodajUsers__navigation
        button.panelDodajUsers__navigation__item Dodaj Użytkownika
        a(href="#").panelDodajUsers__navigation__item.-abort Anuluj
      span.panelDodajUsers__close
        span.panelDodajUsers__icon.fa.fa-times