doctype html
html( lang="pl")
  include _head.jade
  body#body
    include _header.jade
    #containerDrag
      .googleMaps
        .googleMaps__API#googleMaps


      .panelWelcome.panel
        .panelWelcome__wrapper
          span.panelWelcome__buttonIconBG
            .panelWelcome__buttonIcon.fa.fa-bus
          .panelWelcome__title Witaj w systemie MPK
          .panelWelcome__text Projekt zespołowy.

          span.panelWelcome__close
            span.panelWelcome__icon.fa.fa-times
        .panelWelcome__navigation
          //<a href="#" style="display:block;">Link #01</a>
          a(href="#").blue Logowanie
          a(href="#").green Rejestracja
      include _panelLogin.jade
      include _panelRegister.jade
      include _panelResetPassword.jade

      include _panelAutobusy.jade
      include _panelPrzystanki.jade
      include _panelUsers.jade



