doctype html
html( lang="pl")
  include _head.jade
  body
    include _header.jade
    .googleMaps
      .googleMaps__API#googleMaps
    .panelWelcome.panel
      .panelWelcome__wrapper
        span.panelWelcome__buttonIconBG
          .panelWelcome__buttonIcon.fa.fa-bus
        .panelWelcome__title Witaj w systemie MPK
        .panelWelcome__text Projekt zespołowy.
        .panelWelcome__navigation
          //<a href="#" style="display:block;">Link #01</a>
          a(href="#") Logowanie
          a(href="#") Rejestracja
        span.panelWelcome__close
          span.panelWelcome__icon.fa.fa-times


    .panelLogin.panel.-hidden
      .panelLogin__wrapper
        .panelLogin__title Panel Logowania
        .panelLogin__alert.-info
          i.fa.fa-info-circle
          |Konto o takim emailu nie istnieje.
        .panelLogin__alert.-danger
          i.fa.fa-info-circle
          | Hasło przypisane do tego emailu, jest nie poprawne.
        .panelLogin__form
          input(placeholder="Email")
          input(type='password' placeholder="Hasło")
          button(type="submit") Zaloguj się
        span.panelLogin__close
          span.panelLogin__icon.fa.fa-times
        .panelLogin__navigation Nie masz konta?
          a(href="#").panelLogin__ToRegister Zarejestruj się.

    .panelRegister.panel.-hidden
      .panelRegister__wrapper
        .panelRegister__title Panel Rejestracji
        .panelRegister__alert.-info
          i.fa.fa-info-circle
          | Konto o takim emailu już istnieje.
        .panelRegister__alert.-info
          i.fa.fa-info-circle
          | Wprowadzone dane są nie poprawne.
        .panelRegister__alert.-danger
          i.fa.fa-info-circle
          | Hasła nie są takie same.
        .panelRegister__form
          input(placeholder="Email")
          input(type='password' placeholder="Hasło")
          input(type='password' placeholder="Potwierdz Hasło")
          button(type="submit") Zarajestuj
        span.panelRegister__close
          span.panelRegister__icon.fa.fa-times
        .panelRegister__navigation Masz już konto?
          a(href="#").panelRegister__ToLogin Zaloguj się.


