
<div class="panelDodajAutobus">
  <div class="panelDodajAutobus__title">Dodaj Trase</div>
  <div class="panelDodajAutobus__fastTravel"><span><a href="/#/"><i class="fa fa-home"></i>Home</a></span><span><a href="/#/track">Zarządzanie Trasami</a></span><span class="-active"><a href="/#/track/add">Dodaj Trase</a></span></div>
  <div class="panelDodajAutobus__wrapper">
    <div class="panelDodajAutobus__subtitle">Dodawanie trasy do systemu</div>
    <div class="panelDodajAutobus__text">Tutaj możesz dodać trase do systemu. Uzupełnij wszystkie poniższe pola.</div>
    <div ng-controller="AddTrackController" class="panelDodajTrase">
      <div ng-show="BrakPrzystankow" class="panelDodajTrase__alert">Prosze wybrac jakis przystanek!</div>
      <div ng-hide="DodanoTrase" class="panelDodajTrase__title">Nazwa Przystanku</div>
      <form name="form">
        <div ng-hide="sendForm" class="panelDodajTrase__content__form">
          <div class="panelDodajTrase_content__form__item">
            <input type="number" ng-model="LineNumber" placeholder="Numer trasy" ng-hide="DodanoTrase"/>
          </div>
        </div>
      </form>
      <div ng-hide="DodanoTrase" class="panelDodajTrase__columns">
        <div class="panelDodajTrase__column">
          <div class="panelDodajTrase__title">Dostępne przystanki</div>
          <div class="panelDodajTrase__content">
            <div ng-repeat="przystanek in przystanki | filter:przystanekFilter | filter:{ BusStopStatus: '!0'} as filtrowanePrzystanku" class="panelDodajTrase__przystanekHolder">
              <div ng-click="wybraniePrzystanku(przystanek.Id)" data="{{przystanek.Id}}" class="panelDodajTrase__przystanek -mainBusstop">
                <div class="panelDodajTrase__przystanekNazwa">{{przystanek.Name}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="panelDodajTrase__column">
          <div class="panelDodajTrase__title">Wygenerowana trasa</div>
          <div class="panelDodajTrase__content">
            <div ng-repeat="przystanek in przystankiWybrane" class="panelDodajTrase__przystanek">
              <div class="panelDodajTrase__przystanekNazwa">{{$index + 1}}. {{przystanek.Name}}</div>
            </div>
            <div ng-click="usunieciePrzystanku(przystanek.Id)" data="{{przystanek.Id}}" ng-show="saPrzystanki" class="panelDodajTrase__button">Usuń przystanek</div>
          </div>
        </div>
      </div>
      <div ng-click="zapiszTrase()" ng-hide="DodanoTrase" class="panelDodajTrase__buttonToSave">Zapisz trase</div>
      <div ng-show="DodanoTrase" class="panelDodajTrase__alert">
        <div class="panelAutobusy__dataLoader__text"><a href="" class="panelPrzystanki__text success">
            <div class="panelAutobusy success__text__icon"><i class="fa fa-smile-o"></i></div>Trasa została dodana pomyślnie!</a></div>
      </div><a ng-show="DodanoTrase" href="#/track/" class="panelDodajTrase__buttonToSave">Wróć do tras</a>
    </div>
  </div>
</div>