
<div class="panelAutobusy">
  <div class="panelAutobusy__title">Zarządzanie autobusami</div>
  <div class="panelAutobusy__fastTravel"><span><a href="#/"><i class="fa fa-home"></i>Home</a></span><span class="-active"><a href="#/bus">Zarządzanie Autobusami</a></span></div>
  <div class="panelAutobusy__wrapper">
    <div class="panelAutobusy__subtitle">Flota Autobusów</div>
    <div class="panelAutobusy__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae euismod lorem, vel commodo orci.</div>
    <div class="panelAutobusy__navigation"><a href="#/bus/add" class="panelAutobusy__navigation__item">Dodaj Autobus</a></div>
    <div class="panelAutobusy__filtrs">
      <div class="panelAutobusy__filtr">
        <label>Numer VIN</label>
        <input type="text" ng-model="autobusFilter.RegistrationNumber" placeholder="Szukaj Autobusu..."/>
      </div>
      <div class="panelAutobusy__filtr">
        <label>Typ autobusu</label>
        <select ng-model="autobusFilter.BusType">
          <option value="">Typ</option>
          <option value="0">Normalny</option>
          <option value="1">Przegubowy</option>
        </select>
      </div>
      <div class="panelAutobusy__filtr">
        <label>Status</label>
        <select ng-model="autobusFilter.BusStatus">
          <option value="">Status</option>
          <option value="0">Nieaktywny</option>
          <option value="1">W zajezdni</option>
          <option value="2">W trasie</option>
        </select>
      </div>
      <div class="panelAutobusy__filtr">
        <label>Biletomat</label>
        <select ng-model="autobusFilter.GotMachineValue">
          <option value="">Biletomat</option>
          <option value="0">Nie</option>
          <option value="1">Tak</option>
        </select>
      </div>
      <div class="panelAutobusy__table">
        <table wt-responsive-table="wt-responsive-table" ng-controller="BusController" class="responsive">
          <tr>
            <th>Numer VIN</th>
            <th>Typ Autobusu</th>
            <th>Status</th>
            <th>Biletomat</th>
            <th>Zarządzanie</th>
          </tr>
          <tr ng-repeat="autobus in autobusy | filter:autobusFilter">
            <td>{{ autobus.RegistrationNumber }}</td>
            <td>{{ autobus.BusTypeName }}</td>
            <td>{{ autobus.BusStatusName }}</td>
            <td>{{ autobus.GotMachineName }}</td>
            <td><a href="#" class="navigation"><i class="ionicons ion-ios-location"></i></a><a href="#/bus/show/{{ autobus.Id }}" class="navigation"><i class="ionicons ion-edit"></i></a><a href="#/bus/delete/{{ autobus.Id }}" class="navigation"><i class="ionicons ion-android-delete -red"></i></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>