.panelAutobusy
  .panelAutobusy__title HOME
  .panelAutobusy__fastTravel
    span.-active
      a(href="#/")
        i.fa.fa-home
        | Home
  .panelAutobusy__wrapper
    .panelAutobusy__subtitle Witaj w naszym systemie!



