.panelAutobusy(ng-controller="HomeController")
  .panelAutobusy__title HOME
  .panelAutobusy__fastTravel
    span.-active
      a(href="#/")
        i.fa.fa-home
        | Home
  .panelAutobusy__wrapper
    .panelAutobusy__subtitle Witaj w naszym systemie &nbsp;
      span(ng-show="globals.UserIsLogin") {{userName}}
      span(ng-hide="globals.UserIsLogin") &nbsp {{userName}} Jestes nie zalogowany, lepiej zrób to jak najszybciej.



