doctype html
html(lang="pl" ng-app="app")
  include _head.jade
  body
    .headerholder
      include _header.jade
    .panels
      div(ng-view)
      .panels__close
        a(href="/")
          i.fa.fa-angle-double-left
      footer
        p Zespół Coffee <br> Like?
          img(src="img/coffee-cup.png" alt="Team")
    .wrapper
      .googleMaps
        .googleMaps__API#googleMaps
    script(src="app.js")


