doctype html
html(lang="pl" ng-app="app")
  include _head.jade
  body#body
    include _header.jade
    #containerDrag
      .googleMaps
        .googleMaps__API#googleMaps
      .dragger
        div(ng-view)
    script(src="app.js")


