doctype html
html(lang="pl" ng-app="app")
  include _head.jade
  body
    .headerholder
      include _header.jade
    .panels
      div(ng-view)
      .panels__close
        a(href="/#/")
          i.fa.fa-angle-double-left
    .wrapper
      .googleMaps
        .googleMaps__API#googleMaps
    script(src="app.js")


