.panelUsers.panel
  .panelUsers__title Panel Zarządzania Użytkownikami
  .panelUsers__wrapper
    .panelUsers__content
      .panelUsers__content__Title Lista Użytkowników
      .panelUsers__content__Filtr
        .panelUsers__content__Filtr__item
          input(placeholder="Szukaj użytkownika...")
        .panelUsers__content__Filtr__item
          select.js-example-placeholder-single.status
            option
            option(value=0) Nieaktywny
            option(value=1) Aktywny
        .panelUsers__content__Filtr__item
          select.js-example-placeholder-single.ranga
            option
            option(value=0) Użytkownik
            option(value=1) Kontroler
            option(value=1) Administrator
      .panelUsers__contentList

        .panelList
          .panelList__header
            .panelList__headeritemName Email
            .panelList__headeritemRanga Ranga
            .panelList__headeritemStatus Status
            .panelList__headeritemnavigation Szczegóły
          .panelUsers__list.panelList__content#GetUserList
            .panelList__item
              .panelList__itemName Przykładowy@dev.com
              .panelList__itemRanga Kontroler
              .panelList__itemStatus Aktywny
              a(href="#/user/show").panelList__navigation Zobacz

    .panelUsers__navigation
      a(href="#/user/add").panelUsers__navigation__item Dodaj Użytkownika
  a(href="#/")
    span.panelUsers__close
      span.panelUsers__icon.fa.fa-times