.panelDodajAutobus
  .panelDodajAutobus__title Dodaj Autobus
  .panelDodajAutobus__fastTravel
    span
      a(href="#/")
        i.fa.fa-home
        | Home
    span
      a(href="#/home/") Zarządzanie Autobusami
    span.-active
      a(href="#/home/add") Dodaj Autobus
  .panelDodajAutobus__wrapper
    .panelDodajAutobus__subtitle Dodawanie pojazdu do floty
    .panelDodajAutobus__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae euismod lorem, vel commodo orci.

    .panelDodajAutobus__content__form
        .panelDodajAutobus__content__form__item
          span.item Numer Rejestracyjny
          input(placeholder="Podaj Nr. Rejestracyjny")
        .panelDodajAutobus__content__form__item
          span.item Numer VIN
          input(placeholder="Podaj Nr. VIN")
        .panelDodajAutobus__content__form__item
          span.item Typ Autobusu
          select
            option(value=0) Normalny
            option(value=1) Przegubowy
        .panelDodajAutobus__content__form__item
          span.item Czy ma Biletomat?
          select
            option(value=0) Nie
            option(value=1) Tak
        .panelDodajAutobus__content__form__item
          span.item Status
          select
            option(value=0) Aktywny
            option(value=1) W zajezdni
            option(value=2) W serwisie
    .panelDodajAutobus__navigation
      button.green.panelDodajAutobus__navigation__item.green Dodaj Autobus
      a(href="#/bus").panelDodajAutobus__navigation__item.gray.-abort Anuluj

