.panelDodajPrzystanek
  .panelDodajPrzystanek__title Dodaj Przystanek
  .panelDodajPrzystanek__fastTravel
    span
      a(href="/#/")
        i.fa.fa-home
        | Home
    span
      a(href="/#/busstop") Zarządzanie Autobusami
    span.-active
      a(href="/#/busstop/add") Dodaj Przystanek
  .panelDodajPrzystanek__wrapper
    .panelDodajPrzystanek__subtitle Dodawanie przystanku floty
    .panelDodajPrzystanek__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae euismod lorem, vel commodo orci.
    form()
      s