.panelWyswietlAutobus.panel
  .panelWyswietlAutobus__title Szegóły Autobusu
  .panelWyswietlAutobus__wrapper
    .panelWyswietlAutobus__content
      .panelWyswietlAutobus__content__Title Dane Autobusu
      .panelWyswietlAutobus__content__form
        .panelWyswietlAutobus__content__form__item
          span.item Numer Rejestracyjny
          input(placeholder="Podaj Nr. Rejestracyjny")
        .panelWyswietlAutobus__content__form__item
          span.item Numer VIN
          input(placeholder="Podaj Nr. VIN")
        .panelWyswietlAutobus__content__form__item
          span.item Typ Autobusu
          select
            option(value=0) Normalny
            option(value=1) Przegubowy
        .panelWyswietlAutobus__content__form__item
          span.item Czy ma Biletomat?
          select
            option(value=0) Nie
            option(value=1) Tak
        .panelWyswietlAutobus__content__form__item
          span.item Status
          select
            option(value=0) Aktywny
            option(value=1) W zajezdni
            option(value=2) W serwisie
    .panelWyswietlAutobus__navigation
      button.green.panelWyswietlAutobus__navigation__item.green Edytuj Autobus
      button.green.panelWyswietlAutobus__navigation__item.red Usuń Autobus
      a(href="#/bus").panelWyswietlAutobus__navigation__item.gray.-abort Anuluj
  a(href="#/")
    span.panelWyswietlAutobus__close
      span.panelWyswietlAutobus__icon.fa.fa-times


