.panelDodajUser
  .panelDodajUser__title Dodaj Użytkownika
  .panelDodajUser__fastTravel
    span
      a(href="#/")
        i.fa.fa-home
        | Home
    span
      a(href="#/user") Zarządzanie Użytkownikami
    span.-active
      a(href="#/user/add") Dodaj Użytkownika
  .panelDodajUser__wrapper
    .panelDodajUser__subtitle Dodawanie użytkownika
    .panelDodajUser__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae euismod lorem, vel commodo orci.

    .panelDodajUser__content__form
        .panelDodajUser__content__form__item
          span.item Email
          input(placeholder="Podaj email użytkownika")
        .panelDodajUser__content__form__item
          span.item Ranga użytkownika
          select
            option(value=0) Kontroler
            option(value=1) Administrator
        .panelDodajUser__content__form__item
          span.item Status
          select
            option(value=0) Nieaktywny
            option(value=1) Aktywny
    .panelDodajUser__navigation
      button.green.panelDodajUser__navigation__item.green Dodaj Użytkownika
      a(href="#/user").panelDodajUser__navigation__item.gray.-abort Anuluj

