.panelWyswietlPrzystanek.panel
  .panelWyswietlPrzystanek__title Szczegóły przystanku
  .panelWyswietlPrzystanek__wrapper
    .panelWyswietlPrzystanek__content
      .panelWyswietlPrzystanek__content__Title Dane Przystanku
      .panelWyswietlPrzystanek__content__form
        .panelWyswietlPrzystanek__content__form__item
          span.item Nazwa przystanku
          input(placeholder="Podaj nazwę przystanku")
        .panelWyswietlPrzystanek__content__form__item
          span.item Lokalizacja
          input(placeholder="Podaj lokalizackje")
        .panelWyswietlPrzystanek__content__form__item
          span.item Czy ma biletomat?
          select
            option(value=0) Nie
            option(value=1) Tak
        .panelWyswietlPrzystanek__content__form__item
          span.item Czy ma kiosk?
          select
            option(value=0) Nie
            option(value=1) Tak
    .panelWyswietlPrzystanek__navigation
      button.panelWyswietlPrzystanek__navigation__item.green Edytuj Przystanek
      button.panelWyswietlPrzystanek__navigation__item.red Usuń Przystanek
      a(href="#/busstop").panelWyswietlPrzystanek__navigation__item.gray.-abort Anuluj
  a(href="#/")
    span.panelWyswietlPrzystanek__close
      span.panelWyswietlPrzystanek__icon.fa.fa-times