.panelAutobusy
  .panelAutobusy__title Zarządzanie autobusami
  .panelAutobusy__fastTravel
    span
      a(href="#/")
        i.fa.fa-home
        | Home
    span.-active
      a(href="#/bus") Zarządzanie Autobusami
  .panelAutobusy__wrapper
    .panelAutobusy__subtitle Flota Autobusów
    .panelAutobusy__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae euismod lorem, vel commodo orci.
    .panelAutobusy__navigation
      a(href="#/bus/add").panelAutobusy__navigation__item Dodaj Autobus
    .panelAutobusy__filtrs
      .panelAutobusy__filtr
        label Numer VIN
        input(type="text" ng-model="autobusFilter.RegistrationNumber" placeholder="Szukaj Autobusu...")
      .panelAutobusy__filtr
        label Typ autobusu
        select(ng-model="autobusFilter.BusType")
          option(value="") Typ
          option(value=0) Normalny
          option(value=1) Przegubowy
      .panelAutobusy__filtr
        label Status
        select(ng-model="autobusFilter.BusStatus")
          option(value="") Status
          option(value=0) Nieaktywny
          option(value=1) W zajezdni
          option(value=2) W trasie
      .panelAutobusy__filtr
        label Biletomat
        select(ng-model="autobusFilter.GotMachineValue")
          option(value="") Biletomat
          option(value=0) Nie
          option(value=1) Tak
      .panelAutobusy__table
        table.responsive(wt-responsive-table ng-controller="BusController")
          tr
            th Numer VIN
            th Typ Autobusu
            th Status
            th Biletomat
            th Zarządzanie
          tr(ng-repeat="autobus in autobusy | filter:autobusFilter")
            td {{ autobus.RegistrationNumber }}
            td {{ autobus.BusTypeName }}
            td {{ autobus.BusStatusName }}
            td {{ autobus.GotMachineName }}
            td
              a(href="#").navigation
                i.ionicons.ion-ios-location
              a(href="#/bus/show/{{ autobus.Id }}").navigation
                i.ionicons.ion-edit
              a(href="#/bus/delete/{{ autobus.Id }}").navigation
                i.ionicons.ion-android-delete.-red



