.panelAutobusy
  .panelAutobusy__title Zarządzanie Trasami
  .panelAutobusy__fastTravel
    span
      a(href="#/")
        i.fa.fa-home
        | Home
    span.-active
      a(href="#/track") Zarządzanie Trasami

  .panelAutobusy__wrapper
    .panelAutobusy__navigation
      a(href="#/track/add").panelAutobusy__navigation__item Dodaj trase
    .panelAutobusy__filtrs
      .panelAutobusy__filtr
        label Numer Trasy
        input(type="text" placeholder="Szukaj trasy...")
    .panelAutobusy__subtitle Aktywne trasy w systemie
    .panelAutobusy__table
      .panelTrasy
       a(href="#").panelTrasy__item
         .panelTrasy__number 103
        a(href="#").panelTrasy__item
         .panelTrasy__number 104
        a(href="#").panelTrasy__item
         .panelTrasy__number 104
        a(href="#").panelTrasy__item
         .panelTrasy__number 104
        a(href="#").panelTrasy__item
         .panelTrasy__number 104

    .panelAutobusy__subtitle Nieaktywne trasy
    .panelAutobusy__table
      .panelTrasy
        a(href="#").panelTrasy__item
          .panelTrasy__number 103
        a(href="#").panelTrasy__item
          .panelTrasy__number 104


