.panelDodajUser
  .panelDodajUser__title Dodaj Użytkownika
  .panelDodajUser__fastTravel
    span
      a(href="/#/")
        i.fa.fa-home
        | Home
    span
      a(href="/#/user") Zarządzanie Użytkownikami
    span.-active
      a(href="/#/user/add") Dodaj Użytkownika
  .panelDodajUser__wrapper
    .panelDodajUser__subtitle Dodawanie użytkownika
    .panelDodajUser__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae euismod lorem, vel commodo orci.
    form()
      .panelDodajUser__content__form
          .panelDodajUser__content__form__item
            span.item Email Użytkownika
            input(placeholder="Email Użytkownika")
          .panelDodajUser__content__form__item
            span.item Ranga Użytkownika
            select
              option(value=0) Użytkownik
              option(value=1) Kontroler
              option(value=2) Administrator
          .panelDodajUser__content__form__item
            span.item Hasło
            input(placeholder="Hasło")
          .panelDodajUser__content__form__item
            span.item Ponowne Hasło
            input(placeholder="Ponowne Hasło")
      .panelDodajUser__navigation
        button.green.panelDodajUser__navigation__item.green Dodaj Użytkownika
        a(href="/#/user").panelDodajUser__navigation__item.gray.-abort Anuluj

