.panelWyswietlAutobus(ng-controller="ShowTrackController")
  .panelWyswietlAutobus__title Szczegóły Trasy
  .panelWyswietlAutobus__fastTravel
    span
      a(href="/#/")
        i.fa.fa-home
        | Home
    span
      a(href="/#/track") Zarządzanie Trasami
    span.-active
      a(href="/#/track/Get/{{ TrackID }}") Szczegóły Trasy
  .panelWyswietlAutobus__wrapper
    .panelWyswietlAutobus__subtitle Trasa o numerze {{ track.LineNumber }}
    .panelWyswietlAutobus__text Parametry aktualnie wybranej trasy
    .panelWyswietlTrase
      .panelWyswietlTrase__alert(ng-show="track.IsArchiveVar") Trasa jest nieaktywna!
      .panelWyswietlTrase__columns
        .panelWyswietlTrase__column
          .panelWyswietlTrase__title Przystanki wybranej trasy
          .panelWyswietlTrase__content(ng-repeat="przystanek in przystankiTrasy")
            a(href="#/busstop/show/{{przystanek.Id}}").panelWyswietlTrase__itemBox
              .panelWyswietlTrase__item
                .panelWyswietlTrase__itemTitle <i class="fa fa-map-signs"></i> {{ przystanek.Name }}
                .panelWyswietlTrase__itemSubtitle {{ przystanek.LocalizationString }}
        .panelWyswietlTrase__column(ng-hide="track.IsArchiveVar")
          .panelWyswietlTrase__title Aktualne Kursy
          .panelWyswietlTrase__content(ng-repeat="kurs in kursyPoprawne")
            a(href="#/course/show/{{kurs.Id}}"  ng-hide="kurs.Ended").panelWyswietlTrase__itemBox
              .panelWyswietlTrase__item
                .panelWyswietlTrase__itemTitle <i class="fa fa-bus"></i> Autobus nr {{ kurs.Bus.BusNumber }}
                .panelWyswietlTrase__itemSubtitle {{ kurs.EndedName }}
        .panelWyswietlTrase__column.-width100
          .panelWyswietlTrase__title Zakonczone Kursy
          .panelWyswietlTrase__content(ng-repeat="kurs in kursyPoprawne")
            a(href="#/course/show/{{kurs.Id}}"  ng-show="kurs.Ended").panelWyswietlTrase__itemBox
              .panelWyswietlTrase__item
                .panelWyswietlTrase__itemTitle <i class="fa fa-bus"></i> Autobus nr {{ kurs.Bus.BusNumber }}
                .panelWyswietlTrase__itemSubtitle {{ kurs.EndedName }}
      .panelWyswietlAutobus__navigation
        span(ng-click="UsuniecieTrasy(TrackID)" ng-hide="track.IsArchive == 1").panelWyswietlAutobus__navigation__item.red Dezaktywuj
        span(ng-click="AktywujTrasy(TrackID)" ng-show="track.IsArchive == 1").panelWyswietlAutobus__navigation__item.greenDark Aktywuj
        a(href="/#/track").panelWyswietlAutobus__navigation__item.gray.-abort Wróć
      .panelWyswietlTrase__alert(ng-show="komunikat") {{ komunikat }}