.panelWyswietlUser(ng-controller="ShowUserController")
  .panelWyswietlUser__title Szczegóły Użytkownika
  .panelWyswietlUser__fastTravel
    span
      a(href="/#/")
        i.fa.fa-home
        | Home
    span
      a(href="/#/user") Zarządzanie Użytkownikiem
    span.-active
      a(href="/#/user/show/{{ UserID }}") Szczegóły Użytkownika
  .panelWyswietlUser__wrapper(ng-repeat="item in user as AktualnyUser")
    .panelWyswietlUser__subtitle Aktualne dane użytkownika {{ item.Email }}
    .panelWyswietlUser__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae euismod lorem, vel commodo orci.
    .panelWyswietlUser__content__form
      .panelWyswietlUser__content__form__item
        span.itemHeader Email Użytkownika
        p {{ item.Email }}
      .panelWyswietlUser__content__form__item
        span.itemHeader Imie
        p {{ item.Imie }}
      .panelWyswietlUser__content__form__item
        span.itemHeader Nazwisko
        p {{ item.Nazwisko }}
      .panelWyswietlUser__content__form__item
        span.itemHeader Ranga
        p {{ item.RankName }}
      .panelWyswietlUser__content__form__item
        span.itemHeader Status
        p {{ item.StatusName }}
      .panelWyswietlUser__content__form__item
        span.itemHeader Szczegóły
        p {{ item.Details }}
    .panelWyswietlUser__subtitle Edycja użytkownika
    .panelWyswietlUser__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae euismod lorem, vel commodo orci.
    form(ng-controller="UpdateUserController" )
      .panelWyswietlUser__content__form
        .panelWyswietlUser__content__form__item
          span.item Email Użytkownika
          input(placeholder="Email Użytkownika" ng-model="userToUpdate[0].Email")
        .panelWyswietlUser__content__form__item
          span.item Imie
          input(placeholder="Imie" ng-model="userToUpdate[0].Imie")
        .panelWyswietlUser__content__form__item
          span.item Nazwisko
          input(placeholder="Nazwisko" ng-model="userToUpdate[0].Nazwisko")
        .panelWyswietlUser__content__form__item
          span.item Ranga
          select(ng-model="userToUpdate[0].Rank")
            option(value='') Ranga
            option(value=0) Użytkownik
            option(value=1) Kontroler
            option(value=2) Administrator
        .panelWyswietlUser__content__form__item
          span.item Hasło
          input(placeholder="Hasło" type="Password" ng-model="userToUpdate[0].Password")
        .panelWyswietlUser__content__form__item
          span.item Powtórz Hasło
          input(placeholder="Hasło")
      .panelWyswietlUser__navigation
        button(ng-click="updateUser()").green.panelWyswietlUser__navigation__item.green Aktualizuj Użytkownika
        a(href="/#/user/delete/{{ UserID }}" ng-hide="item.Status == 0").panelWyswietlUser__navigation__item.red Dezaktywuj
        a(href="/#/user/restore/{{ UserID }}" ng-show="item.Status == 0").panelWyswietlUser__navigation__item.greenDark Aktywuj
        a(href="/#/user").panelWyswietlUser__navigation__item.gray.-abort Anuluj

