.panelAutobusy
  .panelAutobusy__title Zarządzanie autobusami
  .panelAutobusy__fastTravel
    span
      a(href="#/")
        i.fa.fa-home
        | Home
    span.-active
      a(href="#/home/") Zarządzanie Autobusami
  .panelAutobusy__wrapper
    .panelAutobusy__subtitle Flota Autobusów
    .panelAutobusy__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae euismod lorem, vel commodo orci.
    .panelAutobusy__navigation
      a(href="#/bus/add").panelAutobusy__navigation__item Dodaj Autobus
    .panelAutobusy__filtrs
      .panelAutobusy__filtr
        label Numer VIN
        input(placeholder="Szukaj Autobusu...")
      .panelAutobusy__filtr
        label Typ autobusu
        select
          option(value="") Typ
          option(value=0) Normalny
          option(value=1) Przegubowy
      .panelAutobusy__filtr
        label Status
        select
          option(value="") Status
          option(value=0) Nieaktywny
          option(value=1) Aktywny
          option(value=2) W trasie
          option(value=2) W trasie
      .panelAutobusy__filtr
        label Biletomat
        input(type="checkbox")#czyBiletomat
        label(for="czyBiletomat").-biletomat
      .panelAutobusy__table
        table.responsive(wt-responsive-table)
          tr
            th Numer VIN
            th Typ Autobusu
            th Status
            th Biletomat
            th Zarządzanie
          tr
            td 123456789
            td Normalny
            td Aktywny
            td Tak
            td
              a(href="#").navigation
                i.ionicons.ion-ios-location
              a(href="#").navigation
                i.ionicons.ion-edit
              a(href="#").navigation
                i.ionicons.ion-android-delete.-red

          tr
            td ..
            td ..
            td ..
            td ..
            td ..



