//
   Created by msobiecki on 02.04.16.
.panelWelcome.panel
    .panelWelcome__wrapper
        span.panelWelcome__buttonIconBG
            .panelWelcome__buttonIcon.fa.fa-bus
        .panelWelcome__title Witaj w systemie MPK
        .panelWelcome__text Projekt zespołowy.

        a(href="#/home")
            span.panelWelcome__close
                span.panelWelcome__icon.fa.fa-times
    .panelWelcome__navigation
        //<a href="#" style="display:block;">Link #01</a>
        a(href="#/login").blue Logowanie
        a(href="#/register").green Rejestracja
