.panelPrzystanki.panel
  .panelPrzystanki__title Panel Zarządzania Przystankami
  .panelPrzystanki__wrapper
    .panelPrzystanki__content
      .panelPrzystanki__content__Title Lista Przystanków
      .panelPrzystanki__content__Filtr
        .panelPrzystanki__content__Filtr__item
          input(placeholder="Szukaj przystanku")
        .panelPrzystanki__content__Filtr__item
          input(placeholder="Szukaj ulicy")

          //input(placeholder="Typ autobusu")
        .panelPrzystanki__content__Filtr__item.check
          input(type="checkbox")#czyprzystanekmabiletomat
          label(for="czyprzystanekmabiletomat")
          p Biletomat
        .panelPrzystanki__content__Filtr__item.check
          input(type="checkbox")#czyprzystanekmakiosk
          label(for="czyprzystanekmakiosk")
          p Kiosk
      .panelPrzystanki__contentList

        .panelList
          .panelList__header
            .panelList__headeritem Nazwa przystanku
            .panelList__headeritem Ulica
            .panelList__headeritem Biletomat
            .panelList__headeritem Kiosk
            .panelList__headeritem Szczegóły
          .panelPrzystanki__list.panelList__content#GetBusstopList
            .panelList__item
              .panelList__itemCell Przykładowa
              .panelList__itemCell Przykładowa
              .panelList__itemCell
                .fa.fa-times-circle-o
              .panelList__itemCell
                .fa.fa-times-circle-o
              a(href="#/bus/show").panelList__itemCell Zobacz

    .panelPrzystanki__navigation
      a(href="#/busstop/add").panelPrzystanki__navigation__item Dodaj Przystanek
  a(href="#/")
    span.panelPrzystanki__close
      span.panelPrzystanki__icon.fa.fa-times