.panelPrzystanki
  .panelPrzystanki__title Zarządzanie przystankami
  .panelPrzystanki__fastTravel
    span
      a(href="#/")
        i.fa.fa-home
        | Home
    span.-active
      a(href="#/busstop") Zarządzanie Przystankami
  .panelPrzystanki__wrapper
    .panelPrzystanki__subtitle Przystanki floty
    .panelPrzystanki__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae euismod lorem, vel commodo orci.
    .panelPrzystanki__navigation
      a(href="#/busstop/add").panelPrzystanki__navigation__item Dodaj Przystanek
    .panelPrzystanki__filtrs
      .panelPrzystanki__filtr
        label Nazwa przystanku
        input(placeholder="Szukaj Przystanek...")
      .panelPrzystanki__filtr
        label Ulica
        input(placeholder="Ulica...")
      .panelPrzystanki__filtr
        label Biletomat
        input(type="checkbox")#czyBiletomat
        label(for="czyBiletomat").-biletomat
      .panelPrzystanki__filtr
        label Kiosk
        input(type="checkbox")#czyKiosk
        label(for="czyKiosk").-biletomat
      .panelPrzystanki__table
        table.responsive(wt-responsive-table)
          tr
            th Nazwa przystanku
            th Ulica
            th Biletomat
            th Kiosk
            th Zarządzanie
          tr
            td 123456789
            td Normalny
            td Tak
            td Tak
            td
              a(href="#").navigation
                i.ionicons.ion-ios-location
              a(href="#").navigation
                i.ionicons.ion-edit
              a(href="#").navigation
                i.ionicons.ion-android-delete.-red

          tr
            td ..
            td ..
            td ..
            td ..
            td ..



