.panelWyswietlAutobus(ng-controller="ShowTrackController")
  .panelWyswietlAutobus__title Szczegóły Trasy
  .panelWyswietlAutobus__fastTravel
    span
      a(href="/#/")
        i.fa.fa-home
        | Home
    span
      a(href="/#/track") Zarządzanie Trasami
    span.-active
      a(href="/#/track/Get/{{ TrackID }}") Szczegóły Trasy
  .panelWyswietlAutobus__wrapper
    .panelWyswietlAutobus__subtitle Trasa o numerze {{ TrackID }}
    .panelWyswietlAutobus__text Parametry aktualnie wybranej trasy
    .panelWyswietlTrase
      .panelWyswietlTrase__alert(ng-show="track.IsArchiveVar") Trasa jest nieaktywna!
      .panelWyswietlTrase__columns
        .panelWyswietlTrase__column
          .panelWyswietlTrase__title Przystanki wybranej trasy
          .panelWyswietlTrase__content
            .panelWyswietlTrase__item Przstanek taki i taki
        .panelWyswietlTrase__column
          .panelWyswietlTrase__title Aktualne kursy
          .panelWyswietlTrase__content
            .panelWyswietlTrase__item Autobus nr 1
      .panelWyswietlAutobus__navigation
        a(href="/#/track/delete/{{ TrackID }}" ng-hide="track.IsArchive == 1").panelWyswietlAutobus__navigation__item.red Dezaktywuj
        a(href="/#/track/restore/{{ TrackID }}" ng-show="track.IsArchive == 1").panelWyswietlAutobus__navigation__item.greenDark Aktywuj
        a(href="/#/track").panelWyswietlAutobus__navigation__item.gray.-abort Wróć