.panelUsers
  .panelUsers__title Zarządzanie Użytkownikami
  .panelUsers__fastTravel
    span
      a(href="#/")
        i.fa.fa-home
        | Home
    span.-active
      a(href="/#/user") Zarządzanie Użytkownikami
  .panelUsers__wrapper
    .panelUsers__subtitle Użytkownicy Systemu
    .panelUsers__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae euismod lorem, vel commodo orci.
    .panelUsers__navigation
      a(href="/#/user/add").panelUsers__navigation__item Dodaj Użytkownika
    .panelUsers__filtrs
      .panelUsers__filtr
        label Email
        input(placeholder="Szukaj Użytkownika...")
      .panelUsers__filtr
        label Ranga
        select
          option(value="") Ranga
          option(value=0) Kontroler
          option(value=1) Administrator
      .panelUsers__filtr
        label Status
        select
          option(value="") Status
          option(value=0) Nieaktywny
          option(value=1) Aktywny
      .panelUsers__table
        table.responsive(wt-responsive-table)
          tr
            th Email
            th Ranga
            th Status
            th Zarządzanie
          tr
            td 123456789
            td Normalny
            td Aktywny
            td
              a(href="/#").navigation
                i.ionicons.ion-edit
              a(href="/#").navigation
                i.ionicons.ion-android-delete.-red

          tr
            td ..
            td ..
            td ..
            td ..



