.panelWyswietlPrzystanek(ng-controller="ShowBusstopController")
  .panelWyswietlPrzystanek__title Szczegóły Przystanku
  .panelWyswietlPrzystanek__fastTravel
    span
      a(href="/#/")
        i.fa.fa-home
        | Home
    span
      a(href="/#/busstop") Zarządzanie Przystankiem
    span.-active
      a(href="/#/busstop/show/{{ PrzystanekID }}") Szczegóły Przystaku
  .panelWyswietlPrzystanek__wrapper
    .panelWyswietlPrzystanek__subtitle Aktualne dane przystanku {{ item.Name }}
    .panelWyswietlPrzystanek__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae euismod lorem, vel commodo orci.
    .panelWyswietlPrzystanek__content__form
      .panelWyswietlPrzystanek__content__form__item
        span.itemHeader Nazwa Przystanku
        p {{ autobus.Name }}
      .panelWyswietlPrzystanek__content__form__item
        span.itemHeader Ulica
        p {{ autobus.LocalizationString }}
      .panelWyswietlPrzystanek__content__form__item
        span.itemHeader Lokalizacja
        p {{ autobus.Lat }}, {{ autobus.Lng }}
      .panelWyswietlPrzystanek__content__form__item
        span.itemHeader Typ Przystanku
        p {{ autobus.BusStopTypeName }}
      .panelWyswietlPrzystanek__content__form__item
        span.itemHeader Biletomat
        p {{ autobus.GotMachineName }}
      .panelWyswietlPrzystanek__content__form__item
        span.itemHeader Kiosk
        p {{ autobus.GotKioskName }}
      .panelWyswietlPrzystanek__content__form__item
        span.itemHeader Aktualny status
        p {{ autobus.BusStopStatusName }}
      .panelWyswietlPrzystanek__content__form__item
        span.itemHeader Ostatnia kontrola
        p {{ autobus.LastControl }}
    .panelWyswietlPrzystanek__subtitle Edycja przystanku
    .panelWyswietlPrzystanek__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae euismod lorem, vel commodo orci.
    form(ng-controller="UpdateBustopController")
      .panelWyswietlPrzystanek__content__form
          .panelWyswietlPrzystanek__content__form__item
            span.item Nazwa Przystanku
            input(placeholder="Nazwa Przystanku" ng-model="busstopToUpdate[0].Name")
          .panelWyswietlPrzystanek__content__form__item
            span.item Ulica
            input(placeholder="Ulica" ng-model="busstopToUpdate[0].LocalizationString")
          .panelWyswietlPrzystanek__content__form__item
            span.item Typ Przystanku
            select(ng-model="busstopToUpdate[0].BusStopType")
              option(value='') Typ Przystanku
              option(value=0) Normalny
              option(value=1) Zabudowany
          .panelWyswietlPrzystanek__content__form__item
            span.item Koordynat Lat
            input(placeholder="Lat" ng-model="busstopToUpdate[0].Lat")
          .panelWyswietlPrzystanek__content__form__item
            span.item Koordynat Lng
            input(placeholder="Lng" ng-model="busstopToUpdate[0].Lng")
          .panelWyswietlPrzystanek__content__form__item
            span.item Biletomat
            select(ng-model="busstopToUpdate[0].GotMachine")
              option(value='') Biletomat
              option(value=0) Nie
              option(value=1) Tak
          .panelWyswietlPrzystanek__content__form__item
            span.item Kiosk
            select(ng-model="busstopToUpdate[0].GotKiosk")
              option(value='') Kiosk
              option(value=0) Nie
              option(value=1) Tak
      .panelWyswietlPrzystanek__navigation
        button(ng-click="updateBusstop()").green.panelWyswietlPrzystanek__navigation__item.green Aktualizuj Przystanek
        a(href="/#/busstop/delete/{{ PrzystanekID }}" ng-hide="item.BusStopStatus == 0").panelWyswietlPrzystanek__navigation__item.red Dezaktywuj
        a(href="/#/busstop/restore/{{ PrzystanekID }}" ng-show="item.BusStopStatus == 0").panelWyswietlPrzystanek__navigation__item.greenDark Aktywuj
        a(href="/#/busstop").panelWyswietlPrzystanek__navigation__item.gray.-abort Anuluj

