.panelWyswietlTrase
  &__columns
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    +TAB_MAX
      display: block
  &__column
    width: 50%
    padding: 5px
    +TAB_MAX
      width: 100%

  &__title
    font-size: 16px
    font-weight: 700
  &__alert
    font-size: 16px
    font-weight: 700
    color: darkred
    padding: 15px 5px